<% if @links.length > 0 %>

<table class="table">
	<tr>
		<td>Name</td>
		<td>Posted By</td>
		<td>Region</td>
		<td>Folders</td>
		<td>Actions</td>
	</tr>
	
	
	<% @links.each do |l| %>
	
	<tr> <%= render 'link_row', :locals => {:link => l} %> </tr>

	<% end %>
</table>

<% else %>

	<h2>No Articles <%= @type.capitalize %> By This User</h2>

<% end %>