<%= form_for(:link, :url=> generate_path) do |f| %>
	<div class="field">
		<h4>URL:</h4> 
		<%= f.text_field(:url) %>
	</div>
	
	<div class="form-buttons">
		<%= submit_tag("Generate From Url") %>
	</div>
		
<% end %>